{% extends 'layout.html' %}
{% load static %}
{% block body %}

    <div class="desktop">
      <div class="div">
        


        <div class="overlap">
          <div class="frame-2">
            <div class="frame-3">
              <div class="text-wrapper">Trusted by:</div>
              <img class="vector" src="/media/images/vector-30-1.svg" />
            </div>
            <img class="image" src="/media/images/image-53-2.png" />
          </div>
          <div class="frame-4">
            <img class="img" src="/media/images/image-52-1.png" />
            <img class="image-2" src="/media/images/image-55-1.png" />
            <img class="img" src="/media/images/image-52-1.png" />
            <img class="image-2" src="/media/images/image-55-1.png" />
            
            <!--
            <img class="image-3" src="/media/images/image-55-6.png" />
            <img class="image-4" src="/media/images/image-62-2.png" />
            <img class="image-5" src="/media/images/image-62-2.png" />
            <img class="image-6" src="/media/images/image-62-2.png" />
            <img class="image-7" src="/media/images/image-62-2.png" />
            <img class="image-8" src="/media/images/image-62-2.png" />
            <img class="image-9" src="/media/images/image-62-2.png" />
            <img class="image-8" src="/media/images/image-62-2.png" />
            <img class="image-9" src="/media/images/image-62-2.png" />
            <img class="image-8" src="/media/images/image-62-2.png" />
            <img class="image-9" src="/media/images/image-62-2.png" />
            <img class="image-10" src="/media/images/image-62-2.png" />
            -->
          </div>
        </div>
        <div class="frame-5">
          <div class="overlap-group">
            <div class="connect-with">
              <p class="p">
                <span class="span">Connect With </span>
                <span class="text-wrapper-2">Founders</span>
                <span class="span"> All Over Africa</span>
              </p>
            </div>
            <div class="ellipse"></div>
            <div class="frame-6">
              <button class="CTA">
                <div class="enter-your-email-wrapper"><div class="enter-your-email">Create an account</div></div>
              </button>
              <button class="frame-wrapper">
                <div class="div-wrapper"><div class="enter-your-email-2">Sign In</div></div>
              </button>
            </div>
            <p class="text-wrapper-3">
              Connect with visionary founders and entrepreneurs from diverse regions across Africa
            </p>
          </div>
          <div class="overlap-2">
            <div class="ellipse-2"></div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="image-11" src="/media/images/image-47.png" />
                <div class="frame-7">
                  <div class="frame-8">
                    <div class="frame-9">
                      <p class="text-wrapper-4">Find African founders building great product.</p>
                    </div>
                    <div class="frame-10"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-wrapper">
              <div class="group">
                <div class="overlap-group-3">
                  <div class="frame-11">
                    <div class="text-wrapper-5">Total Founders</div>
                    <div class="frame-12"><div class="text-wrapper-6">20,000</div></div>
                  </div>
                  <img class="group-2" src="/media/images/group-68-1.png" />
                </div>
                <div class="frame-13">
                  <img class="frame-14" src="/media/images/frame-90-2.svg" />
                  <div class="text-wrapper-7">31%</div>
                </div>
                <div class="text-wrapper-8">Compared to last month</div>
              </div>
            </div>
            <div class="frame-15">
              <div class="group-3">
                <div class="frame-16">
                  <div class="text-wrapper-9">Total founders</div>
                  <div class="frame-17"><div class="text-wrapper-10">20,000</div></div>
                </div>
                <div class="frame-18">
                  <img class="frame-19" src="/media/images/frame-90-1.svg" />
                  <div class="text-wrapper-11">31%</div>
                </div>
                <div class="text-wrapper-12">Compared to last month</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-3">
            <img class="investor-dashboard" src="/media/images/investor-dashboard-chat-close.png" />
            <p class="text-wrapper-13">Connect With Founders All Over Africa</p>
            <div class="frame-20">
              <div class="group">
                <div class="overlap-group-3">
                  <div class="frame-11">
                    <div class="text-wrapper-5">Total Founders</div>
                    <div class="frame-12"><div class="text-wrapper-6">20,000</div></div>
                  </div>
                  <img class="group-2" src="/media/images/group-68-1.png" />
                </div>
                <div class="frame-13">
                  <img class="frame-14" src="/media/images/frame-90-2.svg" />
                  <div class="text-wrapper-7">31%</div>
                </div>
                <div class="text-wrapper-8">Compared to last month</div>
              </div>
            </div>
            <div class="frame-21">
              <div class="group-3">
                <div class="frame-16">
                  <div class="text-wrapper-9">Total founders</div>
                  <div class="frame-17"><div class="text-wrapper-10">20,000</div></div>
                </div>
                <div class="frame-18">
                  <img class="frame-19" src="/media/images/frame-90-3.svg" />
                  <div class="text-wrapper-11">31%</div>
                </div>
                <div class="text-wrapper-12">Compared to last month</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-22">
          <div class="frame-23">
            <div class="text-wrapper-14">Investors</div>
            <div class="overlap-group-4">
              <div class="image-wrapper"><img class="image-12" src="/media/images/image-54-3.png" /></div>
              <img class="shield-tick" src="/media/images/shield-tick-2.svg" />
            </div>
            <p class="text-wrapper-15">
              Connect with visionary founders and entrepreneurs from diverse regions across Africa
            </p>
          </div>
          <div class="frame-24">
            <div class="text-wrapper-14">Founders</div>
            <div class="overlap-4">
              <div class="image-wrapper"><img class="image-13" src="/media/images/image-54-3.png" /></div>
              <img class="shield-tick-2" src="/media/images/shield-tick-2.svg" />
            </div>
            <p class="text-wrapper-15">
              Connect with visionary founders and entrepreneurs from diverse regions across Africa
            </p>
          </div>
          <div class="frame-25">
            <div class="text-wrapper-14">Experts</div>
            <div class="overlap-5">
              <div class="image-wrapper"><img class="image-14" src="/media/images/image-54-4.png" /></div>
              <img class="shield-tick-3" src="/media/images/shield-tick-2.svg" />
            </div>
            <p class="text-wrapper-15">
              Connect with visionary founders and entrepreneurs from diverse regions across Africa
            </p>
          </div>
        </div>
        <div class="frame-26">
          <div class="overlap-6">
            <div class="text-wrapper-16">Bamise.</div>
            <div class="frame-27">
              <div class="group-4">
                <div class="frame-28">
                  <div class="frame-29">
                    <div class="group-5">
                      <img class="mask-group" src="/media/images/mask-group-3.png" />
                    </div>
                    <div class="frame-30">
                      <div class="text-wrapper-17">Startup Lawyer</div>
                      <p class="text-wrapper-18">
                        I serve as your legal ally and advocate in the complex landscape Of business law. I specialize
                        in providing tailored legal solutions that align with the unique needs of your Startup. From
                        safeguarding intellectual property to drafting contracts and resolving disputes, I ensures that
                        your business operates within the bounds of the law while maximizing its potential for success.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-31">
                <img class="mask-group" src="/media/images/mask-group-3.png" />
                <div class="text-wrapper-19">Bamise.</div>
              </div>
              <div class="frame-31">
                <img class="mask-group" src="/media/images/mask-group-3.png" />
                <div class="text-wrapper-19">Bamise.</div>
              </div>
              <div class="frame-31">
                <img class="mask-group" src="/media/images/mask-group-3.png" />
                <div class="text-wrapper-19">Bamise.</div>
              </div>
            </div>
          </div>
          <p class="text-wrapper-20">Finds to help build your product</p>
        </div>
        <div class="frame-32">
          <div class="frame-3">
            <div class="text-wrapper">News mention</div>
            <img class="vector" src="/media/images/vector-30-1.svg" />
          </div>
          <img class="image-15" src="/media/images/image-52-1.png" />
          <img class="image-16" src="/media/images/image-52-1.png" />
          <img class="image-18" src="/media/images/image-51-2.png" />
          <img class="image-19" src="/media/images/image-51-2.png" />
          <img class="image-20" src="/media/images/image-53-3.png" />
          
        </div>
        <div class="frame-33">
          <div class="overlap-7">
            <img class="ellipse-3" src="/media/images/ellipse-20.svg" />
            <img class="ellipse-4" src="/media/images/ellipse-20-1.svg" />
            <div class="text-wrapper-21">Subscribe to our newletters</div>
            <p class="text-wrapper-22">Get weekly market update and insights from our newletter</p>
            <div class="input">
              <div class="frame-34"><input class="frame-35" placeholder="Enter your email address" type="email" /></div>
            </div>
            <div class="CTA-wrapper">
              <button class="button">
                <div class="frame-36"><div class="enter-your-email-3">Subscribe Now</div></div>
              </button>
            </div>
          </div>
          <img class="ellipse-5" src="/media/images/ellipse-21-4.svg" />
        </div>
        <div class="frame-37">
          <p class="text-wrapper-23">Blog Post : Dive into Insights</p>
          <div class="frame-38">
            <div class="frame-39">
              <p class="text-wrapper-24">Building a Strong Business Network in Africa: Strategies for 2024</p>
              <div class="img-wrapper"><img class="image-21" src="/media/images/image-55-5.png" /></div>
              <div class="text-wrapper-25">Read more</div>
            </div>
            <div class="frame-40">
              <p class="text-wrapper-24">Building a Strong Business Network in Africa: Strategies for 2024</p>
              <div class="img-wrapper"><img class="image-21" src="/media/images/image-55-5.png" /></div>
              <div class="text-wrapper-25">Read more</div>
            </div>
            <div class="frame-41">
              <p class="text-wrapper-24">Building a Strong Business Network in Africa: Strategies for 2024</p>
              <div class="img-wrapper"><img class="image-21" src="/media/images/image-55-5.png" /></div>
              <div class="text-wrapper-25">Read more</div>
            </div>
            <div class="frame-42">
              <p class="text-wrapper-24">Building a Strong Business Network in Africa: Strategies for 2024</p>
              <div class="img-wrapper"><img class="image-21" src="/media/images/image-55-5.png" /></div>
              <div class="text-wrapper-25">Read more</div>
            </div>
          </div>
        </div>
        <div class="frame-43">
          <div class="text-wrapper-26">Our Frequently Asked Questions</div>
          <div class="frame-44">
            <div class="frame-45">
              <div class="frame-46">
                <div class="frame-47"><p class="text-wrapper-27">How does Seed a Founder work?</p></div>
                <img class="arrow-down" src="/media/images/arrow-down-3.svg" />
              </div>
              <span id="how-seed-a-founder-works"> Simply sign up and submit your pitch deck.
                 Browse through our list of investors and connect with those that
                  align with your requirements. If an investor expresses interest, 
                  you can negotiate directly with them, or we can assist
                   in structuring the deal.</span>
              <img class="vector-2" src="/media/images/vector-31-3.svg" />
            </div>
            <div class="frame-45">
              <div class="frame-46">
                <div class="frame-47"><p class="text-wrapper-27">What kind of projects does Seed
                  a Founder support?
                </p></div>
                <img class="arrow-down" src="/media/images/arrow-down-3.svg" />
              </div>
              Seed a Founder supports a diverse array of projects, ranging from technology startups and social enterprises to sustainable initiatives and innovative ventures spanning various industries. The only criteria are that the founders must be based in Africa.
              <img class="vector-2" src="/media/images/vector-31-3.svg" />
            </div>
            <div class="frame-45">
              <div class="frame-46">
                <div class="frame-47"><p class="text-wrapper-27">How do I invest through Seed a Founder?</p></div>
                <img class="arrow-down" src="/media/images/arrow-down-3.svg" />
              </div>
              Once your investor profile is complete, you'll gain access to all available projects. From there, you can engage with founders, ask questions, request additional information, and make investments seamlessly.
              <img class="vector-2" src="/media/images/vector-31-3.svg" />
            </div>
            <div class="frame-45">
              <div class="frame-46">
               
              </div>
              <img class="vector-2" src="/media/images/vector-31-3.svg" />
            </div>
          </div>
        </div>
        <div class="frame-48">
          <div class="seedafounder-logo">
            <img class="frame-49" src="/media/images/frame-1-4.svg" />
            <div class="text-wrapper-28">Seedafounder</div>
          </div>
          <p class="text-wrapper-29">
            If you’re looking to get in touch about PR, sponsorship,  investor relations, you can find us at:
          </p>
          <div class="text-wrapper-30">info@seedafounder.com</div>
          <div class="frame-50">
            <div class="frame-51"><div class="text-wrapper-31">Sign up as Investor</div></div>
            <div class="frame-52">
              <div class="frame-51"><div class="text-wrapper-31">Sign up as Founder</div></div>
              <img class="vector-3" src="/media/images/vector-9.svg" />
            </div>
            <div class="frame-51"><div class="text-wrapper-31">Sign up as Expert</div></div>
          </div>
          <img class="vector-4" src="/media/images/vector-33.svg" />
          <img class="vector-5" src="/media/images/vector-33.svg" />
          <div class="frame-53">
            <div class="frame-51"><div class="text-wrapper-31">How it works</div></div>
            <div class="frame-52">
              <div class="frame-51"><div class="text-wrapper-31">Startup Offers</div></div>
              <img class="vector-3" src="/media/images/vector-9-1.svg" />
            </div>
            <div class="frame-51"><div class="text-wrapper-31">Founder</div></div>
            <div class="frame-51"><div class="text-wrapper-31">Investor</div></div>
            <div class="frame-51"><div class="text-wrapper-31">Experts</div></div>
            <div class="frame-51"><div class="text-wrapper-31">Resources</div></div>
          </div>
          <p class="text-wrapper-32">© Copyright 2024 Seed A Founder Incorporated. All rights reserved.</p>
        </div>
      </div>
    </div>
{% endblock %}
