{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'index.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 10px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="margin-left: 10%; font-weight: lighter;">Seedafounder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 10%">
                <ul class="navbar-nav" style="font-weight: bolder;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Founder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Investor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Experts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <button style="margin-left: 100px; background-color:#074173; width: 100%; border-radius: 20px; color: white;" class="nav-link" href="#"><span style="margin-left: 5px;">Sign In</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    {% block body %}{% endblock %}
</body>
</html>
